[user]
    name = "Kevin Kerber"
    email = kevin.kerber@gmail.com

[diff]
    color = auto
    noprefix = true

[pager]
    color = true

[status]
    color = auto
    submodulesummary = true

[rerere]
    enabled = false

[alias]
    cont = rebase --continue
    abort = rebase --abort
    graph = log --graph --decorate --date=relative
    stat = status -s
    plog = log --stat -p -w --patience --reverse -M -C -C --cc origin/master..
    review = log --stat -p -w --patience --reverse -M -C -C --cc
    rom = rebase -i origin/master
    nl = log --graph --oneline --decorate
    logg = log --graph --decorate
    shorty = log --pretty=oneline --abbrev-commit
    lr = log --word-diff-regex='[[:alnum:]]+|[^[:space:]]' --color-words -p -w --reverse -M origin/master..
    grm = !git fetch origin --prune && git rebase origin/master
    gfo = fetch origin --prune
    fo = fetch origin --prune

[merge]
    log = true

[push]
    default = current
[core]
    autocrlf = input
    editor = vim
[log]
    decorate = true
[rebase]
    missingCommitsCheck = warn
[pull]
    rebase = true
[rebase]
    autoStash = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
